<%--
  Created by IntelliJ IDEA.
  User: shriyashrestha
  Date: 12/11/20
  Time: 9:52 am
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title>Hello</title>
</head>

<body>
<div>
    <p>HELLO WORLD</p>
</div>
</body>
</html>